*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    height: 100vh;
    width: 100%;
    position: relative;
}
#player{
    width: 50px;
    height: 50px;
    bottom: 100px;
    border-radius: 50%;
    position: absolute;
    right: calc(100% - 100px);
    background-color: blue;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{ 
    0%{top: 150px;}
    30%{top:100px}
    70%{top:100px}
    100%{top:150px;}
}
#surface{
    width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
    background-color: black;
}
#object{
    width: 35px;
    height: 35px;
    bottom: 100px;
    left:calc(100% - 100px);
    position: absolute;
    background-color: red;
    animation: object 2s infinite linear;
}
@keyframes object{
    0%{left: 1000px;}
    100%{left: -100px;}
}
.score{
    font-size: 5vmin;
    position: absolute;
}